.newPassword_page {
  .button_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-top: 0;
    float: inherit;

    span {
      color: $black;
      font-family: $regular;
      font-size: 140%;
      line-height: 21px;
      word-break: break-all;
    }
  }

  .has-error {
    .repeatPassword,
    .newPassword {
      border-color: rgb(185, 74, 72);
    }
  }

  @media #{$until991}{
    .button_block {
      flex-direction: column;
      align-items: end;

      span {
        padding-bottom: 30px;
      }
    }
  }

  @media #{$until767}{
    .button_block {
      span {
        font-size: 160%;
        line-height: 24px;
      }
    }
  }
}